<!DOCTYPE html>
<html ng-app="gameApp">
	<head>
		<title>Citizen-Me</title>
		<link rel="stylesheet" href="css/app.css">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
	</head>
	<body ng-controller="gameAreaCtrl"  ng-right-click="resetCursor()">
			<div id="header" ng-mouseover="resetCursor()">
			</div>
			<div id="game">
				<!-- NEVER DELETE THIS COMMENT
					i = $parent.$index | $parent is needed to get to the outer scope created by row ng-repeat
					j = $index
				-->
				<div class="row" ng-repeat="i in range(50) track by $index">
					<div id="tile_{{$parent.$index}}_{{$index}}" class="tile" ng-click="clickTile($parent.$index, $index)" ng-repeat="j in range(50) track by $index" ng-mouseover="showCoordinates($parent.$index, $index)" ng-mouseleave="resetCoordinates()">
						 
					</div>
				</div>
			</div>
			<div id="menu">
				<!-- <img id="menu_tile_{{i}}" class="menu_tile" src="img/{{i}}.jpg" ng-click="selectElementToAdd(i)" ng-repeat="i in menu_tiles"> --> 
				<div id="categories">
					<h2>CATEGORIES</h2>
					<img id="menu_category_{{i}}" class="menu_tile" src="img/category_{{i}}.jpg" ng-click="selectCategory(i)" ng-repeat="i in menuCategories">
				</div>
				<div id="noCategorySelected" ng-show="noCategorySelected()">
					<p>Select a category to see buildings <br>and parts you can use.</p>
				</div>
				<div id="noCategorySelected" ng-hide="noCategorySelected()">
					<p>ELEMENTS</p>
				</div>
				<div id="gameDetails">
					<h2>DETAILS</h2>
				</div>
				<div id="gameOptions">
					<h2>OPTIONS</h2>
				</div>
			</div>
	</body>
</html>