* {
	margin:0;
	font-family:"Verdana";
	padding:0
}
body {
	height: 100%;
	background-color:#D3D9FF;
}

html {
	height: 100%;
}

#header {
	height: 40px;
	width: 100%;
	background-color: #CCC;
	border-bottom: 1px solid black;
}

#main {
	width: 1200px;
	margin: auto;
	min-height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#menu {
	width:1000px;
	border: 1px solid black;
	height:182px;
	bottom:0;
	margin:auto;
	background-color:#2B60FF;
	box-shadow:0px 0px 3px black;
}

#noCategorySelected {
	width:450px;	
	float:left;
	margin:10px;
	margin-left:0px;
	height:160px;
	border:1px solid black;
	border-left:none;
	background-color:#EEE;
	box-shadow:0px 0px 5px white;
}

#selectedCategory {
	width:450px;	
	float:left;
	margin:10px;
	margin-left:0px;
	height:158px;
	border:2px solid #142d76;
	border-left:none;
	background-color:#EEE;
	box-shadow:0px 0px 5px white;
}

#noCategorySelected p {
	text-align:center;
	margin-top:50px;
	font-size:20px;
	font-weight:bold;
}

.menu_category {
	height:29px;
	border:1px solid blue;
	border-right:2px solid blue;
}

.menu_tile {
	margin-left:10px;
	margin-top:10px;
	border:1px solid blue;
	float:left;
}

.tile_highlighted_blue {
	height:29px;
	border:1px solid blue;
	border-right:none;
	background-color:#EEE;
}

#categories {
	float:left;
	width:140px;
	margin:10px;
	margin-right:0px;
	height:160px;
	border:1px solid black;
	background-color:#CCC;
	text-align:center;
	border-right:none;
	box-shadow:0px 0px 5px white;
}

#categories p {
	padding-top:9px;
	font-weight:bold;
}

h2 {
	display:block;
	width:100%;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	padding-top:2px;
	padding-bottom:2px;
	border-bottom:1px solid black;
	background-color:#AAA;
}

#coordinates {
	width:100px;
	padding:3px;
	font-weight:bold;
	position:absolute;
	left:-120px;
	background-color:#DDD;
}

#gameDetails p {
	text-align:center;
}

#gameDetails {
	float:left;
	width:212px;
	margin:10px;
	margin-left:0px;
	height:160px;
	border:1px solid black;
	background-color:#EEE;
	box-shadow:0px 0px 5px white;
}

#gameOptions {
	float:left;
	width:140px;
	margin:10px;
	margin-left:0px;
	height:160px;
	border:1px solid black;
	box-shadow:0px 0px 5px white;
	background-color:#EEE;
}

.tile_highlighted {
	height:48px;
	background:#CCC;
	width:48px;
	border:2px solid red;
	float:left;
	background-image:url(../img/grass_small.jpg);
}



#game {
	height:480px;
	width:980px;
	margin:auto;
	border:1px solid black;
	padding:10px;
	background-color:#2B60FF;
	overflow:auto;
	margin-top:10px;
	margin-bottom:10px;
	box-shadow:0px 0px 3px black;
}

.row {
	clear:both;
	width:2600px;
	padding-right:10px;
}

.tile {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/grass.jpg);
}

.tile_house {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/house.jpg);
}
	opacity:0.5;
}

.tile_house:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/house_small.jpg);
}

.tile_hopital {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/hopital.jpg);
}

.tile_hopital:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/hopital_small.jpg);
}

.tile_bulldozer {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/bulldozer.jpg);
}

.tile_bulldozer:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/bulldozer_small.jpg);
}

.tile_police {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/police.jpg);
}

.tile_police:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/police_small.jpg);
}

.tile:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/grass_small.jpg);
}

.tileset {
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom: 15px solid red;
	position: relative;
	top: -15px;
	margin-top:-10px;
}
.tileset:after {
	content: '';
	position: absolute;
	left: -25px;
	top: 15px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top: 15px solid red;
}

.tmp_tile {
	opacity : 0.5;
}

.fadeIn,
.fadeOut {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fadeIn.ng-hide-remove,
.fadeOut.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: none;
}

.fadeOut.ng-hide-add,
.fadeIn.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.tooltipMenu {
	display : none;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom, #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	border-radius:0px;
	width : 200px;
	height : 100px;
	border: 1px solid #000000;
	position : float;
	font-size : 10px;
	position : fixed;
	float : none;
}

.downTooltip {
	display : none;
	position : fixed;
	float : none;