body {
	height: 100%;
}

html {
	height: 100%;
}

#header {
	height: 40px;
	width: 100%;
	background-color: #CCC;
	border-bottom: 1px solid black;
}

#main {
	width: 1200px;
	margin: auto;
	min-height: 100%;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#menu {
	width:1000px;
	border: 1px solid black;
	height:100px;
	bottom:0;
	margin:auto;
}

#coordinates {
	width:100px;
	padding:3px;
	font-weight:bold;
	position:absolute;
	left:-120px;
	background-color:#DDD;
}

.tile_highlighted {
	height:48px;
	background:#CCC;
	width:48px;
	border:2px solid red;
	float:left;
	background-image:url(../img/grass_small.jpg);
}

#game {
	height:480px;
	width:980px;
	margin:auto;
	border:1px solid black;
	padding:10px;
	background-color:grey;
	overflow:auto;
	margin-top:10px;
	margin-bottom:10px;
}

.row {
	clear:both;
	width:2600px;
	padding-right:10px;
}

.menu_tile {
	border:2px solid blue;
	float:left;
	margin:10px;
	margin-right:5px;
}

.tile {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/grass.jpg);
}

.tile_house {
	height:50px;
	background:#CCC;
	width:50px;
	border:1px solid black;
	float:left;
	background-image:url(../img/house.gif);
}

.tile:hover {
	border:2px solid red;
	width:48px;
	height:48px;
	background-image:url(../img/grass_small.jpg);
}

.tileset {
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-bottom: 15px solid red;
	position: relative;
	top: -15px;
	margin-top:-10px;
}
.tileset:after {
	content: '';
	position: absolute;
	left: -25px;
	top: 15px;
	width: 0;
	height: 0;
	border: 25px solid transparent;
	border-top: 15px solid red;
}

* {
	margin:0;
	padding:0;
}